In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

In [23]:
base_url = 'http://books.toscrape.com/catalogue/'
current_page_url = 'page-1.html'

all_titles = []
all_prices = []
all_ratings = []

page_limit = 50  
page_count = 0

In [25]:
while current_page_url and page_count < page_limit:
    full_url = base_url + current_page_url
    print("Scraping:", full_url)

    response = requests.get(full_url)
    soup = BeautifulSoup(response.content, 'html.parser')

    book_containers = soup.find_all('article', class_='product_pod')

    for book in book_containers:
        title = book.find('h3').find('a')['title']
        price = book.find('p', class_='price_color').text
        rating = book.find('p', class_='star-rating')['class'][1]

        all_titles.append(title)
        all_prices.append(price)
        all_ratings.append(rating)

    next_button = soup.find('li', class_='next')
    if next_button:
        current_page_url = next_button.find('a')['href']
    else:
        current_page_url = None

    page_count += 1

Scraping: http://books.toscrape.com/catalogue/page-1.html
Scraping: http://books.toscrape.com/catalogue/page-2.html
Scraping: http://books.toscrape.com/catalogue/page-3.html
Scraping: http://books.toscrape.com/catalogue/page-4.html
Scraping: http://books.toscrape.com/catalogue/page-5.html
Scraping: http://books.toscrape.com/catalogue/page-6.html
Scraping: http://books.toscrape.com/catalogue/page-7.html
Scraping: http://books.toscrape.com/catalogue/page-8.html
Scraping: http://books.toscrape.com/catalogue/page-9.html
Scraping: http://books.toscrape.com/catalogue/page-10.html
Scraping: http://books.toscrape.com/catalogue/page-11.html
Scraping: http://books.toscrape.com/catalogue/page-12.html
Scraping: http://books.toscrape.com/catalogue/page-13.html
Scraping: http://books.toscrape.com/catalogue/page-14.html
Scraping: http://books.toscrape.com/catalogue/page-15.html
Scraping: http://books.toscrape.com/catalogue/page-16.html
Scraping: http://books.toscrape.com/catalogue/page-17.html
Scraping: http://books.toscrape.com/catalogue/page-18.html
Scraping: http://books.toscrape.com/catalogue/page-19.html
Scraping: http://books.toscrape.com/catalogue/page-20.html
Scraping: http://books.toscrape.com/catalogue/page-21.html
Scraping: http://books.toscrape.com/catalogue/page-22.html
Scraping: http://books.toscrape.com/catalogue/page-23.html
Scraping: http://books.toscrape.com/catalogue/page-24.html
Scraping: http://books.toscrape.com/catalogue/page-25.html
Scraping: http://books.toscrape.com/catalogue/page-26.html
Scraping: http://books.toscrape.com/catalogue/page-27.html
Scraping: http://books.toscrape.com/catalogue/page-28.html
Scraping: http://books.toscrape.com/catalogue/page-29.html
Scraping: http://books.toscrape.com/catalogue/page-30.html
Scraping: http://books.toscrape.com/catalogue/page-31.html
Scraping: http://books.toscrape.com/catalogue/page-32.html
Scraping: http://books.toscrape.com/catalogue/page-33.html
Scraping: http://books.toscrape.com/catalogue/page-34.html
Scraping: http://books.toscrape.com/catalogue/page-35.html
Scraping: http://books.toscrape.com/catalogue/page-36.html
Scraping: http://books.toscrape.com/catalogue/page-37.html
Scraping: http://books.toscrape.com/catalogue/page-38.html
Scraping: http://books.toscrape.com/catalogue/page-39.html
Scraping: http://books.toscrape.com/catalogue/page-40.html
Scraping: http://books.toscrape.com/catalogue/page-41.html
Scraping: http://books.toscrape.com/catalogue/page-42.html
Scraping: http://books.toscrape.com/catalogue/page-43.html
Scraping: http://books.toscrape.com/catalogue/page-44.html
Scraping: http://books.toscrape.com/catalogue/page-45.html
Scraping: http://books.toscrape.com/catalogue/page-46.html
Scraping: http://books.toscrape.com/catalogue/page-47.html
Scraping: http://books.toscrape.com/catalogue/page-48.html
Scraping: http://books.toscrape.com/catalogue/page-49.html
Scraping: http://books.toscrape.com/catalogue/page-50.html

In [27]:
book_data = pd.DataFrame({
    'Title': all_titles,
    'Price': all_prices,
    'Star_Rating': all_ratings
})
book_data.head()

                                   Title   Price Star_Rating
0                   A Light in the Attic  £51.77       Three
1                     Tipping the Velvet  £53.74         One
2                             Soumission  £50.10         One
3                          Sharp Objects  £47.82        Four
4  Sapiens: A Brief History of Humankind  £54.23        Five

In [29]:
book_data['Price'] = book_data['Price'].str.replace('£', '').astype(float)

In [31]:
rating_map = {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
book_data['Star_Rating'] = book_data['Star_Rating'].map(rating_map)

In [33]:
book_data.head()

                                   Title  Price  Star_Rating
0                   A Light in the Attic  51.77            3
1                     Tipping the Velvet  53.74            1
2                             Soumission  50.10            1
3                          Sharp Objects  47.82            4
4  Sapiens: A Brief History of Humankind  54.23            5

In [35]:
book_data.to_csv('cleaned_books.csv', index=False)

In [39]:
import shutil

shutil.move('/Users/revanthreddy/cleaned_books.csv', '/Users/revanthreddy/Desktop/cleaned_books.csv')

'/Users/revanthreddy/Desktop/cleaned_books.csv'